// 左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单的最小宽度
$base-menu-min-width: 50px;
//  颜色
$base-menu-background: #001529;
// 顶部导航的高度
$base-tabbar-height: 50px;

// 左侧菜单logo高度设置
$base-menu-logo-height: 50px;
//  右侧文字大小
$base-menu-fontsize: 20px;